  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
html{
    scroll-behavior:smooth;
}
body{
    /* font-weight: 400; */
    height: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    background-color:rgb(255, 255, 255); 
    width: 5px;
}
body::-webkit-scrollbar-track{
      background-color: rgb(204, 204, 204);
}
body::-webkit-scrollbar-thumb{
    background-color:#3f3e3e;
}
body::-webkit-scrollbar-button{
    background-color: #3f3e3e;
}
.main{
    height: 100%;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 100;
    color:white;
    width: 13%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 4.5vh;
    padding:20px;
    border-right: 1px solid white;
    background-color:rgb(31, 31, 31);
}
aside button{
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
aside button:hover{
    background-color:rgb(255, 247, 247);
    color: rgb(0, 0, 0);
    transition: all ease 0.5s;
    outline: none;
    border: 1px solid white;
}
aside hr{
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.658);
}
aside label{
    font-weight: 100;
    font-size: 14px;
}
aside .colors{
  margin-top: 20px;
  letter-spacing: 2px;
}
aside p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
}
aside .rating div{
    display: flex;
    gap: 5px;
}
input[type=range]{
    height: 2px;
    margin-top: 10px;
}
aside .prices label{
    font-size: 13px;
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 2px;
}
.prices input{
    cursor: pointer;
    width: 12px;
}


nav{
    margin-left: 12.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 20px;
    padding-right: 15vw;
    position: fixed;
}
nav .meShopLogo{
    color: white;
    font-size: 22px;
    text-decoration: none;
}
nav .navBar{
    display: flex;
    gap: 3vw;
}
.navBar li {
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}
.navBar li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navLinks:hover a{
    border-bottom: 1px solid white;
}
.search input{
    width: 83.9vw;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}
input::placeholder{
    color:black;
}
.filterBtns{
    display: flex;
    align-items: center;
    gap: 50px;
    /* width: 80vh; */
}
.filterBtns button{
    width: 15vw;
    height:40px;
    cursor: pointer;
    background-color: rgb(201, 201, 201);
    outline: none;
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px 50px;
    font-weight: 400;
}
.filterBtns button:active{
    background-color: black;
    color: white;
}
.main-2{
    height: 100%;
    padding:90px 22px 10px 220px;
}
.page-1{
    position: relative;
}
.productsBox{
    /* padding: 13vh 2vw 5vh 15vw; */
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    /* position: relative; */
}
.productsBox img{
    width: 125px;
    padding-top: 10px;
    /* border: 1px solid red; */
    height: 160px;
}
.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(2, 2, 2);
}
.productCard .price{
    margin-right: 110px;
}
.price , .size , .colors , .rating{
    font-weight: 400;
    padding-top: 5px;
}
.productCard button{
    font-size: 15px;
    padding: 5px 10px;
    font-weight: 400;
    width: 200px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 10px 0px;
    outline: none;
    border: none;
}
.productCard button:hover{
    background-color: rgb(64, 99, 129);
    color: aliceblue;
    /* border: 1px solid rgb(64, 99, 129); */
}